/*Responsive*/
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .logo {
    margin-left: 30px;
    max-width: 70% !important; }

  .logolistroom {
    margin-left: 50px;
    max-width: 70% !important; }

  .logodetailroom {
    margin-left: 60px !important;
    width: 100px !important;
    padding-top: 20px !important; }

  #spaceatas {
    margin-left: 0px !important; }

  #pinexpand {
    bottom: 10% !important;
    right: 5% !important; }

  #searchregion {
    float: left;
    left: 75px !important;
    min-width: 250px !important;
    margin-top: 7px !important; }

  #kolase {
    height: 100% !important; }

  .contentmore.hover-shadow.cursor center {
    top: 40% !important; }

  .contentmore {
    position: absolute;
    bottom: 7% !important;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1 !important;
    width: 85% !important;
    height: 45% !important;
    margin-left: 14px !important;
    padding: 20px !important; }

  .ui.form.ulasanform {
    padding-left: 45px !important;
    padding-right: 45px !important; }

  #fasilitasicon {
    width: 210px !important;
    padding: 5px !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  #imgkolase1 {
    width: 100% !important;
    height: 300px !important; }

  #imgkolase2 {
    width: 100% !important;
    height: 150px !important; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  #bgataskanan {
    left: -30px; }

  .bgataskiri {
    max-width: 90%; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgfilter {
    max-width: 30px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #locpin {
    font-size: 16px !important;
    margin-top: 2px !important; }

  #loc {
    font-size: 10pt !important;
    margin-top: 5px !important;
    text-align: left; }

  #kelebihan {
    height: 500px !important; }

  #kelebihankami {
    margin-top: 30px !important; }

 /*
.ui.segment {
	min-height: 143px;
}*/
  /*.ui.image{
  	display: none !important;
  }*/
  #main {
    height: 100% !important; }

  .ui.image.big.label.filter {
    margin: 5px !important; }

  #sectionpartner {
    height: 1000px; }

  #partnerdesc {
    width: 100%; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .logo {
    margin-left: 10px;
    max-width: 70% !important; }

  .logolistroom {
    margin-left: 25px;
    max-width: 70% !important; }

  #searchlist {
    font-size: 12px !important; }

  #tipelist {
    font-size: 12px !important; }

  #hunianlist {
    font-size: 12px !important; }

  #waktulist {
    font-size: 11px !important; }

  #hargalist {
    font-size: 12px !important; }

  #main {
    height: 100% !important; }

  #gmap {
    max-height: 600px !important; }

  #colkanan {
    padding-left: 3% !important;
    padding-right: 3% !important; }

  .logodetailroom {
    margin-left: 30px !important;
    width: 100px !important;
    padding-top: 20px !important; }

  #spaceatas {
    margin-left: 0px !important; }

  #pinexpand {
    bottom: 40% !important;
    right: 5% !important; }

  .contentmore.hover-shadow.cursor center {
    top: 20% !important; }

  .contentmore {
    position: absolute;
    bottom: 120px !important;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1 !important;
    width: 80% !important;
    height: 30% !important;
    margin-left: 14px !important;
    padding: 20px !important; }

  #searchregion {
    float: left;
    left: 75px !important;
    min-width: 200px !important;
    margin-top: 7px !important; }

  .ui.form.ulasanform {
    padding-left: 45px !important;
    padding-right: 45px !important; }

  #sectionslide {
    padding-top: 60px !important;
    padding-bottom: 0px !important; }

  #fasilitasicon {
    width: 210px !important;
    padding: 5px !important; }

  #home {
    margin-right: 5px;
    right: 20px;
    bottom: 10px; }

  #contact {
    margin-right: 5px;
    right: 10px;
    bottom: 10px; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  .imagemodalkolase {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  #imgkolase1 {
    width: 100% !important;
    height: 200px !important; }

  #imgkolase2 {
    width: 100% !important;
    height: 100px !important; }

  #kolase {
    height: 250px !important; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  #bgataskanan {
    left: -30px; }

  .bgataskiri {
    max-width: 90%; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #locpin {
    font-size: 16px !important;
    margin-top: 2px !important; }

  #loc {
    font-size: 10pt !important;
    margin-top: 5px !important;
    text-align: left; }

  #partnerdesc {
    width: 100%; }

  #sectionkelebihan {
    height: 100% !important; }

  #kelebihan {
    height: 500px !important; }

  #kelebihankami {
    margin-top: 30px !important; }

 /*
.ui.segment {
	min-height: 143px;
}*/
  /*.ui.image{
  	display: none !important;
  }*/
  .ui.image.big.label.filter {
    margin: 5px !important; }

  #main {
    height: 100% !important; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 376px) and (max-device-width: 414px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .logolistroom {
    margin-left: 10px;
    max-width: 200% !important; }

  .ui.image.big.label.filter {
    margin: 5px !important; }

  .logodetailroom {
    margin-left: 25px !important;
    width: 100px !important;
    padding-top: 20px !important; }

  #spaceatas {
    margin-left: 0px !important; }

  #searchregion {
    float: right;
    left: 75px !important;
    min-width: 200px !important;
    margin-top: 7px !important; }

  #pinexpand {
    bottom: 15% !important;
    right: 10% !important; }

  .simpan b {
    font-size: 14px !important; }

  .bagikan b {
    font-size: 14px !important; }

  #namakosan {
    font-size: 27px !important; }

  #infocard {
    margin-top: 0px !important; }

  #simbag {
    padding-bottom: 10px !important; }

  .tipekos {
    padding-top: 0px !important;
    padding-bottom: 5px !important; }

  .tipekos b {
    font-size: 16px !important;
    padding-bottom: 5px !important; }

  .hargakos {
    padding-top: 10px !important; }

  .hargakos b {
    font-size: 18px !important; }

  #address {
    padding-bottom: 15px !important;
    font-size: 14px !important;
    padding-top: 3px !important; }

  .kamarsedia {
    float: left !important; }

  #infomodaltittle {
    font-size: 30px !important; }

  .container.infobook {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 15px !important; }

  .content.infotext {
    margin-top: 0px !important; }

  .content.infotext h4 {
    font-size: 18px !important; }

  .field label {
    margin-bottom: 10px !important; }

  .ui.input.left.icon {
    font-size: 14px !important; }

  .ui.form.ulasanform {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .title-desc.detailjudul {
    padding-bottom: 15px !important;
    padding-top: 40px !important; }

  .imageinfo {
    width: 150px !important; }

  .ui.header.infotittle {
    font-size: 18px !important;
    text-align: center; }

  .image.content.infomodal {
    padding-bottom: 0px !important;
    padding-top: 60px !important; }

  .description.imgmodal b {
    font-size: 18px !important;
    text-align: center !important;
    display: block;
    padding-left: 0px !important; }

  #infotittlekos {
    padding-bottom: 0px !important; }

  .columnmodalkolase {
    float: left !important;
    width: 25% !important;
    padding: 5px !important; }

  .prevmodalkolase,
  .nextmodalkolase {
    display: none !important; }

  #sectionslide {
    height: 100%;
    padding-bottom: 0px !important; }

  .title-desc.rekomendasi {
    font-size: 34px !important;
    margin-top: 100px !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 250px !important;
    font-size: 26px !important; }

  .field.inmodal {
    margin-bottom: 15px !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #home {
    display: none !important; }

  #contact {
    display: none !important; }

  .imagemodalkolase {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  #kolase {
    height: 300px !important; }

  #imgkolase2 {
    display: none; }

  #ulasan {
    height: 1750px !important; }

  #inputdata {
    height: 450px !important; }

  #main {
    height: 100% !important; }

  #cardlist {
    margin-left: 15px !important; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgslide {
    height: 195px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #gmap {
    height: 500px;
    padding-left: 15px !important;
    padding-right: 15px !important; }

  #mapbox {
    height: 500px !important; }

  #sectionkelebihan {
    height: 100% !important;
    margin-top: 60px; }

  #kelebihankami {
    margin-top: 30px !important; }

  #sectionpartner {
    height: 200px !important;
    padding-top: 0px !important; }

  #mozaikkanan {
    display: none; }

  #bgbawahkanan {
    display: none; }

  #testiphoto {
    display: none; }

  #testimoni {
    margin-top: 45px !important;
    height: 500px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .logolistroom {
    margin-left: 10px;
    max-width: 200% !important; }

  .ui.image.big.label.filter {
    margin: 5px !important; }

  .logodetailroom {
    margin-left: 25px !important;
    width: 100px !important;
    padding-top: 20px !important; }

  #spaceatas {
    margin-left: 0px !important; }

  #searchregion {
    float: right;
    left: 75px !important;
    min-width: 200px !important;
    margin-top: 7px !important; }

  #pinexpand {
    bottom: 15% !important;
    right: 10% !important; }

  .simpan b {
    font-size: 14px !important; }

  .bagikan b {
    font-size: 14px !important; }

  #namakosan {
    font-size: 24px !important; }

  #infocard {
    margin-top: 0px !important; }

  #simbag {
    padding-bottom: 10px !important; }

  .tipekos {
    padding-top: 0px !important;
    padding-bottom: 5px !important; }

  .tipekos b {
    font-size: 16px !important;
    padding-bottom: 5px !important; }

  .hargakos {
    padding-top: 10px !important; }

  .hargakos b {
    font-size: 18px !important; }

  #address {
    float: right !important;
    padding-bottom: 15px !important;
    font-size: 14px !important;
    padding-top: 3px !important; }

  .kamarsedia {
    float: left !important; }

  #infomodaltittle {
    font-size: 30px !important; }

  .container.infobook {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 15px !important; }

  .content.infotext {
    margin-top: 0px !important; }

  .content.infotext h4 {
    font-size: 18px !important; }

  .field label {
    margin-bottom: 10px !important; }

  .ui.input.left.icon {
    font-size: 14px !important; }

  .ui.form.ulasanform {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .title-desc.detailjudul {
    padding-bottom: 15px !important;
    padding-top: 40px !important; }

  .imageinfo {
    width: 150px !important; }

  .ui.header.infotittle {
    font-size: 18px !important;
    text-align: center; }

  .image.content.infomodal {
    padding-bottom: 0px !important;
    padding-top: 60px !important; }

  .description.imgmodal b {
    font-size: 18px !important;
    text-align: center !important;
    display: block;
    padding-left: 0px !important; }

  #infotittlekos {
    padding-bottom: 0px !important; }

  .columnmodalkolase {
    float: left !important;
    width: 25% !important;
    padding: 5px !important; }

  .prevmodalkolase,
  .nextmodalkolase {
    display: none !important; }

  .title-desc.rekomendasi {
    font-size: 34px !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 250px !important;
    font-size: 26px !important; }

  .field.inmodal {
    margin-bottom: 15px !important; }

  #home {
    display: none !important; }

  #contact {
    display: none !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  .imagemodalkolase {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  #kolase {
    height: 250px !important; }

  #imgkolase2 {
    display: none; }

  #ulasan {
    height: 1850px !important; }

  #inputdata {
    height: 450px !important; }

  #main {
    height: 100% !important; }

  #cardlist {
    margin-left: 15px !important; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgslide {
    height: 172px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #gmap {
    height: 500px;
    padding-left: 15px !important;
    padding-right: 15px !important; }

  #mapbox {
    height: 500px !important; }

  #sectionkelebihan {
    height: 100% !important;
    margin-top: 45px; }

  #kelebihankami {
    margin-top: 30px !important; }

  #sectionpartner {
    height: 200px !important;
    padding-top: 0px !important; }

  #mozaikkanan {
    display: none; }

  #bgbawahkanan {
    display: none; }

  #testiphoto {
    display: none; }

  #testimoni {
    margin-top: 45px !important;
    height: 500px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }
@media screen and (max-device-width: 320px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .logolistroom {
    margin-left: 10px;
    max-width: 200% !important; }

  .ui.image.big.label.filter {
    margin: 5px !important; }

  .logodetailroom {
    margin-left: 25px !important;
    width: 80px !important;
    padding-top: 20px !important; }

  #spaceatas {
    margin-left: 0px !important; }

  #searchregion {
    float: right;
    left: 75px !important;
    min-width: 180px !important;
    margin-top: 7px !important; }

  #pinexpand {
    bottom: 20% !important;
    right: 10% !important; }

  .kamarsedia b {
    font-size: 10pt !important; }

  .simpan b {
    font-size: 14px !important; }

  .bagikan b {
    font-size: 14px !important; }

  #namakosan {
    font-size: 20px !important; }

  #infocard {
    margin-top: 0px !important; }

  #simbag {
    padding-bottom: 10px !important; }

  .tipekos {
    padding-top: 0px !important;
    padding-bottom: 5px !important; }

  .tipekos b {
    font-size: 16px !important;
    padding-bottom: 5px !important; }

  .hargakos {
    padding-top: 10px !important; }

  .hargakos b {
    font-size: 18px !important; }

  #address {
    float: right !important;
    padding-bottom: 15px !important;
    font-size: 14px !important;
    padding-top: 3px !important; }

  .kamarsedia {
    float: left !important; }

  #infomodaltittle {
    font-size: 30px !important; }

  .container.infobook {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 15px !important; }

  .content.infotext {
    margin-top: 0px !important; }

  .content.infotext h4 {
    font-size: 16px !important; }

  .field label {
    margin-bottom: 10px !important; }

  .ui.input.left.icon {
    font-size: 14px !important; }

  .ui.form.ulasanform {
    padding-left: 15px !important;
    padding-right: 15px !important; }

  .title-desc.detailjudul {
    padding-bottom: 15px !important;
    padding-top: 40px !important; }

  .imageinfo {
    width: 150px !important; }

  .ui.header.infotittle {
    font-size: 18px !important;
    text-align: center; }

  .image.content.infomodal {
    padding-bottom: 0px !important;
    padding-top: 60px !important; }

  .description.imgmodal b {
    font-size: 18px !important;
    text-align: center !important;
    display: block;
    padding-left: 0px !important; }

  #infotittlekos {
    padding-bottom: 0px !important; }

  .columnmodalkolase {
    float: left !important;
    width: 25% !important;
    padding: 5px !important; }

  .prevmodalkolase,
  .nextmodalkolase {
    display: none !important; }

  .title-desc.rekomendasi {
    font-size: 34px !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 250px !important;
    font-size: 26px !important; }

  .field.inmodal {
    margin-bottom: 15px !important; }

  #home {
    display: none !important; }

  #contact {
    display: none !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  .imagemodalkolase {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  #kolase {
    height: 250px !important; }

  #imgkolase2 {
    display: none; }

  #ulasan {
    height: 1850px !important; }

  #inputdata {
    height: 450px !important; }

  #main {
    height: 100% !important; }

  #cardlist {
    margin-left: 15px !important; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgslide {
    height: 172px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #gmap {
    height: 500px;
    padding-left: 45px !important; }

  #mapbox {
    height: 500px !important; }

  #sectionkelebihan {
    height: 100% !important;
    margin-top: 45px; }

  #kelebihankami {
    margin-top: 30px !important; }

  #sectionpartner {
    height: 200px !important;
    padding-top: 0px !important; }

  #mozaikkanan {
    display: none; }

  #bgbawahkanan {
    display: none; }

  #testiphoto {
    display: none; }

  #testimoni {
    margin-top: 45px !important;
    height: 500px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }

/*# sourceMappingURL=responsive.css.map */
